

.tap {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: #4CAF50; /* Color de fondo inicial */
    color: white;
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease; /* Transición suave */
}

.tap:active {
    animation: clickAnimation 0.5s ease forwards; /* Llama a la animación al hacer clic */
}

@keyframes clickAnimation {
    0% {
        transform: scale(1); /* Escala inicial */
        background-color: #4CAF50; /* Color de fondo inicial */
    }
    50% {
        transform: scale(1.2); /* Se expande */
        background-color: #3e8e41; /* Color de fondo más oscuro */
    }
    100% {
        transform: scale(1); /* Se vuelve a la escala original */
        background-color: #4CAF50; /* Color de fondo original */
    }
}
