<app-layout>
    <section class="home container-fluid">
        <!-- <div class="row image-banner">
        </div> -->
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <br>
                <h3 class="select-label">Lucharé por </h3>
                <app-select-country></app-select-country>
                <br>
                <app-tapper></app-tapper>
                  <app-table-ofpositions></app-table-ofpositions>
            </div>
        </div>
    </section>
    <app-map></app-map>
</app-layout>