<app-layout>
    <section class="login container-fluid">
       <div class="main-login">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="row text-center">
                        <div class="col">
                            <h3>Ingresa</h3>
                        </div>
                    </div>
                    <div class="iconos-redes mt-3">
                        <div class="option ">
                            <img  src="https://i.blogs.es/dc6737/unnamed/650_1200.png" alt="" (click)="loginWithGoogle()">
                            Ingrese con google
                        </div>
                        <div class="option mt-2">
                            <img  src="https://cdn-icons-png.flaticon.com/256/124/124010.png" alt="">
                            Ingrese con facebook

                        </div>
                    </div>
                </div>
            </div>
       </div>
    </section>
</app-layout>