<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand px-3" href="#">
      <!-- <img ngSrc="https://firebasestorage.googleapis.com/v0/b/globalclick-app.appspot.com/o/app%2Fglobalclick.png?alt=media&token=25ae1e50-3e8d-4389-9ff1-9bf30751751b" width="30" height="30" class="d-inline-block align-top" alt=""> -->
      Global Click
    </a>
    <ul class="nav justify-content-end">
        <li class="nav-item px-3">
          @if (user){
            <a class="nav-link active btn btn-primary" (click)="this.handleClickLogout()">Salir</a>
          } @else {
            <a class="nav-link active btn btn-primary" [routerLink]="['login']">Ingresar</a>
          }
        </li>
      </ul>
  </nav>