.table-dark *{
    background-color: var(--color-background-alt) !important;
    color: var(--color-primary) !important;
}

.title{
    color: var(--color-primary) !important;
}


.table-div{
    height: 50vh;
    overflow-x: scroll;
}